SYNDICATE_API_KEY=<YOUR SYNDICATE API KEY>
SYNDICATE_PROJECT_ID=<YOUR SYNDICATE PROJECT ID>
SYNDICATE_DEMO_MINT_MODULE_CONTRACT_ADDRESS=<ENTER YOUR MINT CONTRACT ADDRESS>
WALLET_ADDRESS_TO_SEND_MINTED_NFT_TO=<THE WALLET ADDRESS TO SEND MINTED NFT TO>
NFT_TOKEN_NAME=<THE NAME OF YOUR NFT>
NFT_TOKEN_NAME=<THE SYMBOL FOR YOUR NFT>